html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px auto;
  padding: 0px;
  max-width: 600px;
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-toolbar h1 {
  margin: auto;
}



md-button.menuBtn > md-icon {
  fill:white;
  width:24px;
  height:24px;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}


md-dialog {
  min-height: 100.5%;
  min-width: 100.5%;
}

md-content {
  max-width: 800px;
  margin: auto 0;
}